* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
}

.calculator {
    width: 320px; /* Ajustei um pouco para caber melhor os botões */
    background-color: #464646;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 10px; /* Adicionado espaçamento interno */
}

.result {
    height: 75px;
    padding: 20px;
    text-align: right;
    color: #f7f7f7;
    font-size: 2.5rem;
    background-color: #333; /* Adicionando um fundo para destacar */
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas de tamanho igual */
    gap: 5px; /* Espaçamento entre os botões */
    margin-top: 10px; /* Espaçamento entre o display e os botões */
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ocupar o espaço total da célula */
    height: 60px;
    color: #f7f7f7;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px; /* Arredondar os botões */
}

.button__zero {
    grid-column: span 2; /* O botão "0" ocupará duas colunas */
}

.bg_cinza {
    background-color: #585858;
}

.bg_cinza_claro {
    background-color: #747474;
}

.bg_orange {
    background-color: #f2a43b;
}

.buttons button:active {
    opacity: 0.8;
}

.buttons button:hover {
    background-color: #666;
}
